<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
        <div>{{>header}}</div>

        <h2>{{title}} page</h2>
        
        <div class="flex">
            <div>
                <img src={{image1}} alt="">
                <h3>{{name1}}</h3>
                <h4>{{city1}}</h4>
                <h5>{{age}}</h5>
                <button>{{button}}</button>
            </div>
            <div>
                <img src={{image2}} alt="">
                <h3>{{name2}}</h3>
                <h4>{{city2}}</h4>
                <h5>{{age}}</h5>
                <button>{{button}}</button>
            </div>
            <div>
                <img src={{image3}} alt="">
                <h3>{{name3}}</h3>
                <h4>{{city3}}</h4>
                <h5>{{age}}</h5>
                <button>{{button}}</button>
            </div>
        </div>

        <div>{{>footer}}</div>
</body>
</html>